:root {
    --text-indent: 40px;
}

body {
    counter-reset: chapternum subchapternum subsubchapternum figurenum tablenum listnum sourcenum;
    padding: 0;
    margin: 0;
}

body > * {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    hyphens: auto;
    display: block;
    box-sizing: border-box;
}

script {
    display: none;
}

table {
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
}
table td,
table th {
    border: 1px solid black;
    vertical-align: top;
    padding: 2px;
    text-align: left;
}
table caption {
    text-align: left;
    margin-bottom: 1em;
}
table:not(.continue) caption {
    counter-increment: tablenum;
}
table caption::before {
    content: "Таблица " counter(chapternum) "." counter(tablenum) ". ";
    font-weight: bold;
}
table th {
    text-align: center;
    vertical-align: middle;
}

table.with-continue tr:last-child td {
    border-bottom: 0;
}
table.continue caption::before {
    content: "";
}
table.continue caption::after {
    content: " " counter(chapternum) "." counter(tablenum);
}

p {
    text-indent: var(--text-indent);
    text-align: justify;
}

h1, h2, h3 {
    font-weight: bold;
    text-indent: var(--text-indent);
}

h1 {
    text-transform: uppercase;
    display: block;
    position: relative;
    text-indent: 0;
    counter-reset: subchapternum figurenum tablenum;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 150%;
}

h1:not(.unnumered) {
    counter-increment: chapternum;
    padding-left: var(--text-indent);
}
h1:not(.unnumered)::before {
    content: counter(chapternum) " ";
    height: 100%;
    position: absolute;
    left: calc(-1em + var(--text-indent));
}

h1.unnumered {
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    counter-reset: subsubchapternum;
    counter-increment: subchapternum;
    font-size: 120%;
}
h2::before {
    content: counter(chapternum) "." counter(subchapternum) " ";
}

h3 {
    margin-top: 1em;
    counter-increment: subsubchapternum;
    font-weight: normal;
}
h3::before {
    content: counter(chapternum) "." counter(subchapternum) "." counter(subsubchapternum) " ";
    font-weight: bold;
}

figure {
    text-align: center;
    margin: 1em auto;
    width: 100% !important;
    max-width: 100% !important;
    border: 3px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

figure img {
    max-width: 100%;
    margin-bottom: 1em;
}

figure figcaption {
    counter-increment: figurenum;
}
figure figcaption::before {
    content: "Рисунок " counter(chapternum) "." counter(figurenum) ". ";
    font-weight: bold;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}
ul > li {
    text-indent: var(--text-indent);
}
ul > li::before {
    content: "–";
    margin-right: 6px;
}

ol {
    counter-reset: listnum;
    padding: 0;
    text-align: justify;
    list-style-type: none;
}
ol > li {
    counter-increment: listnum;
    text-indent: var(--text-indent);
}
ol > li::before {
    content: counter(listnum) ")";
    margin-right: 6px;
}
ol.sources-list > li {
    counter-increment: sourcenum;
}
ol.sources-list > li::before {
    content: "[" counter(sourcenum) "]";
}

ul.toc li {
    text-align: left;
}
ul.toc li.toc-level-1 {
    font-size: 14px;
    margin-top: 1em;
}
ul.toc li.toc-level-1::before {
    content: "○";
}
ul.toc li.toc-level-2 {
    font-size: 12px;
    margin-left: 2em;
}

table ol > li,
table ul > li {
    text-indent: 0;
    text-align: left;
}

p code,
code {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    text-indent: var(--text-indent);
}

p code + code {
    margin-top: -1em;
}

pre code {
    white-space: pre-wrap;
}


.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}
